<% include header.html %>

    <!-- Page content of course! -->
    <main class="bs-docs-masthead" id="content" role="main" tabindex="-1">
	  <div class="container">
	    <span class="bs-docs-booticon bs-docs-booticon-lg bs-docs-booticon-outline">C</span>
	    <p class="lead">CMS管理系统包括渠道管理、财务过账、对接资金支付等功能</p>

	    <!--p class="version">数据查看 | 运维管理</p-->
	  </div>
	</main>
    

    <!-- START THE FEATURETTES -->

      <!--hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">响应式设计，<span class="text-muted">醒目的导航</span></h2>
          <p class="lead">通过首页快速导航到各项功能。</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="images/first.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">流程概览， <span class="text-muted">一目了然</span></h2>
          <p class="lead">清晰的流程导向，一目了然的操作方式，提供上佳体验。</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="images/second.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">操作导航， <span class="text-muted">避免误操作</span></h2>
          <p class="lead"></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="images/third.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider"-->

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <% include footer.html %>

    </div><!-- /.container -->



  </body>
</html>
